# VuePress files
docs/.vuepress/.temp/
docs/.vuepress/.cache/

# Node modules
node_modules/

# MacOS Desktop Services Store
.DS_Store

# Editors
.vscode
.idea

# Log files
*.log

# Typescript build info
*.tsbuildinfo